body {
    background-color: #fffafa;
    margin: 0;
}

/* ヘッダー タイトルテキスト */
#header_top {
    text-align: center;
    background-color: #000000;
    padding: 10px 15% 10px 10%
}

#header_top a {
    text-decoration: none;
    color: #ff6347;
    font-family: Impact;
    font-size: 48px;
}

/* ヘッダーナビゲーション */
#navbar {
    background-color: #303030;    
    text-align: center;
    padding: 10px 0 10px 0
}

#navbar a {
    text-decoration: none;
    color: #d3d3d3;
    font-size: 14px;
    font-family: sans-serif;
}
#navbar a:hover {
    color: #a9a9a9;
}

#grid_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.nav_link {
    padding: 0 5% 0 5%;
    float: left;
}
/* アニメーション */
@keyframes fadeIn_anime {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
.fadeIn_anime {
    animation-name: fadeIn_anime;
    animation-duration: 2s;
}