/* ヘッダー全体 */
header {
    /* background-color: #de9610; */
    background-color: #000000;
}

/* ヘッダー タイトルテキスト */
#header_top {
    text-align: center;
}

#header_top a {
    text-decoration: none;
    color: #ff6347;
    font-family: Impact;
    font-size: 48px;
}

/* ヘッダーナビゲーション */
#navbar {
    background-color: #303030;
    /* background-color: #f2cf01; */
    text-align: center;
    margin-top: -15px;
}

#navbar ul li {
    display: inline;
    padding-left: 30px;
}

#navbar a {
    text-decoration: none;
    color: #d3d3d3;
    font-size: 14px;
    font-family: sans-serif;
}
#navbar a:hover {
    color: #a9a9a9;
}


body {
    background-color: #fffafa
}

/* アニメーション */
@keyframes fadeIn_anime {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
.fadeIn_anime {
    animation-name: fadeIn_anime;
    animation-duration: 3s;
}